### Task 1 - Data Validation
Assess data quality and perform validation tasks

In [40]:
from datetime import datetime as dt
import re

import numpy as np
import pandas as pd

# Reading the dataset
emo_df = pd.read_csv('electric_bike_ratings_2212.csv')
# Meeting our data
display(emo_df.head())
emo_df.info()

year = dt.now().year.__str__()
# fixing year
emo_df['review_month'] = pd.to_datetime(emo_df['review_month'] + '-' + year)

,owned,make_model,review_month,web_browser,reviewer_age,primary_use,value_for_money,overall_rating
0,1,Nielah-Eyden,Oct,Chrome,23,Commuting,5/10,18.62
1,0,Nielah-Keetra,Jun,NaN,24,Commuting,4/10,15.55
2,0,Lunna-Keetra,23-Oct,Chrome,28,Commuting,5/10,12.76
3,1,Hoang-Keetra,07-Nov,IE,41,Leisure,5/10,17.07
4,1,Lunna-Keetra,16-Sep,Chrome,33,Leisure,5/10,12.29

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   owned            1500 non-null   int64
 1   make_model       1500 non-null   object
 2   review_month     1500 non-null   object
 3   web_browser      1350 non-null   object
 4   reviewer_age     1500 non-null   object
 5   primary_use      1500 non-null   object
 6   value_for_money  1500 non-null   object
 7   overall_rating   1500 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 93.9+ KB

In [41]:
%%time

# emo_df['review_month'] = emo_df['review_month'].apply(lambda x: x.strftime('%Y-%m'))

# converting make_model to a categorical variable
emo_df['make_model'] = emo_df['make_model'].astype('category')

# convert the web_browser null values are replaced with 'unknown'
emo_df['web_browser'].fillna('unknown', inplace=True)
emo_df['web_browser'] = emo_df['web_browser'].astype('category')

# reviewer age string should be converted to integers and null values should be replaced with the mean
emo_df['reviewer_age'] = emo_df['reviewer_age'].replace('-', np.nan).astype("Int64")
mean_age = emo_df['reviewer_age'].mean(numeric_only=True).astype(int)
emo_df['reviewer_age'] = emo_df['reviewer_age'].fillna(mean_age)

['Chrome', 'unknown', 'IE', 'Firefox', 'Safari', 'Android', 'Opera']
Categories (7, object): ['Android', 'Chrome', 'Firefox', 'IE', 'Opera', 'Safari', 'unknown']
CPU times: total: 0 ns
Wall time: 4 ms

In [42]:
# Converting primary_use to a categorical variable
emo_df['primary_use'] = emo_df['primary_use'].astype('category')

In [43]:
# Convert value_for_money to a numeric value considering the original value is a rating from 1 to 10 and it has to be discrete
emo_df['value_for_money'] = emo_df['value_for_money'].apply(lambda x: int(x.split('/')[0]))
print(emo_df['value_for_money'].dtype)

int64

In [44]:
emo_df.dtypes

owned                       int64
make_model               category
review_month       datetime64[ns]
web_browser              category
reviewer_age                Int64
primary_use              category
value_for_money             int64
overall_rating            float64
dtype: object