In [ ]:
-- Select all fields from economies2015
SELECT * FROM economies2015
-- Set operation
UNION
-- Select all fields from economies2019
SELECT * FROM economies2019
ORDER BY code, year;

### Comparing two set operations
You learned in the video exercise that UNION ALL returns duplicates, whereas UNION does not. In this exercise, you will dive deeper into this, looking at cases for when UNION is appropriate compared to UNION ALL.

You will be looking at combinations of country code and year from the economies and populations tables.

In [ ]:
-- Query that determines all pairs of code and year from economies and populations, without duplicates
SELECT code, year FROM economies
UNION
SELECT country_code, year FROM populations
ORDER BY code, year;

In [ ]:
-- Amend the query to return all combinations (including duplicates) of country code
-- and year in the economies or the populations table

SELECT code, year
FROM economies
-- Set theory clause
UNION ALL
SELECT country_code, year
FROM populations
ORDER BY code, year;

### INTERSECT

In [ ]:
-- Return all cities with the same name as a country
SELECT name
FROM cities
INTERSECT
SELECT name
FROM countries;

### EXCEPT

In [ ]:
-- Return all cities that do not have the same name as a country
SELECT name
FROM cities
EXCEPT
SELECT name
FROM countries
ORDER BY name;