### Performing joins

In [ ]:
SELECT 
	c1.name AS city, 
    code, 
    c2.name AS country,
    region, 
    city_proper_pop
FROM cities AS c1
-- Join right table (with alias)
LEFT JOIN countries as c2
ON c1.country_code = c2.code
ORDER BY code DESC;

In [ ]:
SELECT name, region, gdp_percapita
FROM countries AS c
LEFT JOIN economies AS e
-- Match on code fields
USING(code)
-- Filter for the year 2010
WHERE year = 2010;

### Building on your LEFT JOIN
You'll now revisit the use of the AVG() function introduced in a previous course.

Being able to build more than one SQL function into your query will enable you to write compact, supercharged queries.

You will use AVG() in combination with a LEFT JOIN to determine the average gross domestic product (GDP) per capita by region in 2010.

Then...

* Order the result set by the average GDP per capita from highest to lowest.
* Return only the first 10 records in your result.

In [ ]:
SELECT region, AVG(gdp_percapita) AS avg_gdp
FROM countries AS c
LEFT JOIN economies AS e
USING(code)
WHERE year = 2010
GROUP BY region
-- Order by descending avg_gdp
ORDER BY avg_gdp DESC
-- Return only first 10 records
LIMIT 10;

Correct: when converting a LEFT JOIN to a RIGHT JOIN, change both the type of join and the order of the tables
to get equivalent results. You would get different results if you only changed the table order.
The order of fields you are joining ON still does not matter.

In [ ]:
-- Modify this query to use RIGHT JOIN instead of LEFT JOIN
SELECT countries.name AS country, languages.name AS language, percent
FROM languages
RIGHT JOIN countries
USING(code)
ORDER BY language;

### FULL JOIN
Comparing joins

* Perform a full join with countries (left) and currencies (right).
* Filter for the North America region or NULL country names.

In [ ]:
SELECT name AS country, code, region, basic_unit
FROM countries
-- Join to currencies
FULL JOIN currencies
USING (code)
-- Where region is North America or null
WHERE region = 'North America'
	OR name IS NULL
ORDER BY region;

* Repeat the same query as before, turning your full join into a left join with the currencies table.
* Have a look at what has changed in the output by comparing it to the full join result.

In [ ]:
SELECT name AS country, code, region, basic_unit
FROM countries
-- Join to currencies
LEFT JOIN currencies
USING (code)
WHERE region = 'North America' 
	OR name IS NULL
ORDER BY region;

In [ ]:
-- Repeat the same query again, this time performing an inner join of countries with currencies.
-- Have a look at what has changed in the output by comparing it to the full join and left join results!

SELECT name AS country, code, region, basic_unit
FROM countries
-- Join to currencies
INNER JOIN currencies 
USING (code)
WHERE region = 'North America' 
	OR name IS NULL
ORDER BY region;

* Complete the FULL JOIN with countries as c1 on the left and languages as l on the right, using code to perform this join.
* Next, chain this join with another FULL JOIN, placing currencies on the right, joining on code again.

In [ ]:
SELECT 
	c1.name AS country, 
    region, 
    l.name AS language,
	basic_unit, 
    frac_unit
FROM countries as c1 
-- Full join with languages (alias as l)
FULL JOIN languages as l 
USING(code)
-- Full join with currencies (alias as c2)
FULL JOIN currencies AS c2
USING(code)
WHERE region LIKE 'M%esia';

### CROSS JOIN exercises

In [ ]:
SELECT c.name AS country, l.name AS language
-- Inner join countries as c with languages as l on code
FROM countries as c
INNER JOIN languages as l
USING(code)
WHERE c.code IN ('PAK','IND')
	AND l.code in ('PAK','IND');

* Change your INNER JOIN to a different kind of join to look at possible combinations of languages that
could have been spoken in the two countries given their history.
* Observe the differences in output for both joins.

In [ ]:
SELECT c.name AS country, l.name AS language
FROM countries AS c        
-- Perform a cross join to languages (alias as l)
CROSS JOIN languages as l
WHERE c.code in ('PAK','IND')
	AND l.code in ('PAK','IND');

* Complete the join of countries AS c with populations as p.
* Filter on the year 2010.
* Sort your results by life expectancy in ascending order.
* Limit the result to five countries.

In [ ]:
SELECT 
	c.name AS country,
    region,
    life_expectancy AS life_exp
FROM countries AS c
-- Join to populations (alias as p) using an appropriate join
LEFT JOIN populations AS p
ON c.code = p.country_code
-- Filter for only results in the year 2010
WHERE year = 2010
-- Order by life_exp
ORDER BY life_exp
-- Limit to five records
LIMIT 5;

### Comparing a country to itself
* Perform an inner join of populations with itself ON country_code, aliased p1 and p2 respectively.
* Select the country_code from p1 and the size field from both p1 and p2, aliasing p1.size as size2010 and p2.size as size2015 (in that order).

In [ ]:
-- Select aliased fields from populations as p1
SELECT 
	p1.country_code, 
    p1.size AS size2010, 
    p2.size AS size2015
-- Join populations as p1 to itself, alias as p2, on country code
FROM populations AS p1
INNER JOIN populations AS p2
USING(country_code);

* Since you want to compare records from 2010 and 2015, eliminate unwanted records by extending the
WHERE statement to include only records where the p1.year matches **p2.year - 5.**

In [ ]:
SELECT 
	p1.country_code, 
    p1.size AS size2010, 
    p2.size AS size2015
FROM populations AS p1
INNER JOIN populations AS p2
ON p1.country_code = p2.country_code
WHERE p1.year = 2010
-- Filter such that p1.year is always five years before p2.year
    AND p1.year = p2.year - 5